<!-- <app-participant-selector #participantSelectorComponent [participants]="participants" (selectUserEvent)="handleUserSelection($event)"></app-participant-selector> -->
<app-calendar-toolbar 
[viewDate]="viewDate"  
(updateViewDateEvent)="handleUpdateViewDateEvent($event)"
(changeCalendarActionEvent)="handleChangeCalendarActionEvent($event)"
(calendarNavigateEvent)="handleCalendarNavigateEvent($event)"
(toggleSidebarEvent)="handleToggleSidebar($event)"
>
</app-calendar-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #matDrawer class="example-sidenav" mode="side">
    <app-participant-list #participantListComponent></app-participant-list>
  </mat-drawer>
    <div class="example-sidenav-content">
      <app-calendar 
      #calendarComponent 
      [viewDate]="viewDate"
      (queryEvent)="handleQueryEvent($event)"
      ></app-calendar>
    </div>
</mat-drawer-container>
<app-participant-existing-new #participantExistingNewComponent (selectUserEvent)="handleUserSelection($event)"></app-participant-existing-new>
<app-tutorial #tutorialComponent></app-tutorial>

<!-- 
//TODO This application helps gather participants availability inorder to find the most suitable time to host an event. 
//Click the + and then click and drag on the calendar to mark your available times.
//Click the ? and then click and drag on the calenda to see who is available during those times.
//the shades of purple indicates how suitable a time is for the participant. the darker the shade the more participants that are available at that time. -->